body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./Space.jpg);
  background-color: Silver;
  background-repeat: no-repeat;
  background-size: cover;
}
/* What kind of selector is this? */
.logo {
  width: 150px;
  height: 150px;
  margin: 3% 10%;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

main {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

nav > a {
  margin: 2% 1% 3%;
  height: 10%;
  width: 15%;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 50px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
  text-decoration: none;
}

.has-border {
  border-radius: 25px;
  border: 2px solid greenyellow;
  background: none;
  padding: 20px;
}

.Contact {
  border-radius: 25px;
  border: 2px solid greenyellow;
  background: none;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}
h1 {
    color: rgb(174, 0, 255);
    text-align: center;
  }

main {
    text-align: center;
    display: flex;
    justify-content: center;
  }

.small-text {
    grid-column: 2/3;
    color: black;
    font-size: 10px;
    margin: 3% auto;
  }

  /* .main-container {
    display: flex;
    justify-content: center;

  } */
  @media (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
      }
      
      main {
        height: 900px;
        width: 100%;
      }
      
      nav > a {
        margin: 2% 1% 3%;
        height: 10%;
        width: 15%;
        font-size: 20px;
      }
      
      .has-border {
        padding: 20px;
      }
  }

  @media (max-width: 767px) {
    header {
        display: block; 
      }
      
      main {
        height: auto; 
      }
      
      nav > a {
        width: 100%; 
        margin: 5px 0; 
      }
      
      .has-border {
        padding: 10px; 
      }
      
  }